<!doctype html>
<html>
<head>
 <title></title>
 <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>
<body>

    {{{body}}}

  <script type="text/javascript" src="/javascripts/jquery-2.2.0.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
</body>
</html>