<h2>Deliver Information</h2>
<form id='form'>
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input name="username" type="name" class="form-control" id="exampleInputName" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Address</label>
    <input name="address" type="test" class="form-control" id="exampleInputAddress" placeholder="Address">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Phone Number</label>
    <input name="phone-number" type="text" class="form-control" id="exampleInputPhoneNumber" placeholder="PhoneNumber">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Expect Delivery Time</label>
    <input name="delivery-time" type="date" class="form-control" id="exampleInputDeliveryTime" placeholder="00:00">
  </div>
  <div class='input-group date' id='datetimepicker1'>
      <input type='text' class="form-control" />
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar">
        </span>
      </span>
  </div>

  <button type="submit" class="btn btn-primary btn-lg">Pay</button>
</form>