
.cart{
  background-color: lightgrey;
}

.cart >*{
  background-color: white;
}

.cart .cart-table-th, .cart .cart-table-footer, .cart-order-list{
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: solid #F2F0F0;
}

.cart-order-list li{
  padding-top: 1rem;
}

.padding-top{
  padding-top: 0.7rem;
}

.margin-top{
  margin-top: 0.7rem;
}




