
.cart{
  background-color: lightgrey;
  font-size: 2em;
}

.cart >*{
  background-color: white;
}


.header-group{
  line-height: 4em;
}

.header-group h1{
  padding-top: 0.6em;
  font-size: 2em;
  padding-bottom: 0.6em;
}

.header-group a{
  padding-top: 0.8em;
  font-size: 2em;
  padding-bottom: 0.6em;
}

.cart-table-footer button, .cart-table-th button{
  font-size: 1.5em;
}

.select-all, .total-price{
 padding-top: 0.5em;
}

.cart .cart-table-th, .cart .cart-table-footer, .cart-order-list{
    font-size: 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: solid #F2F0F0;
}

.cart-order-list li{
  padding-top: 1em;
}

.quantity *{
  line-height: 3.4em;
}

input[type='checkbox']{
  width: 0.8em;
  height: 0.8em;
}

.login-or-register{
  margin-top: 15em;
}

.login-or-register *{
  font-size: 1.2em;
  margin-top: 0.3em;
}

.margin-top{
  margin-top: 0.7em;
}
.padding-top{
  margin-top: 0.7em;
}



